<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout_01 Test</title>
    <style>
        
    </style>
</head>
<body>
    <div class="header">
        <img src="../images/logo_01_100.png" alt="로고">
        <p>누적 방문자 3,000명</p>
    </div>
    <div>
        <div class="nav">
            <p>Menu1</p>
            <p>Menu2</p>
            <p>Menu3</p>
        </div>
    </div>
    <div class="slider">
        <div class="">
            <img src="" alt="">
        </div>
        <div class="">
            <img src="" alt="">
        </div>
        <div class="">
            <img src="" alt="">
        </div>
    </div>
    <div class="gallery">
        <div class="card">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="card">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="card">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="card">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="card">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="card">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="card">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="card">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="card">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="card">
            <img src="" alt="">
            <p></p>
        </div>
    </div>
    <div class="footer">
        <div class="sns">
            <a href="#">
                <img src="" alt="Kakao">
            </a>
            <a href="#">
                <img src="" alt="Facebook">
            </a>
        </div>
        <div class="copyright">
            <img src="../images/copyright.png" alt="copyright">
        </div>
    </div>
</body>
</html>